
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    color: #666;
    line-height: 1.7em;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.main-menu {
    list-style: none;
}

.link-main-menu {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}

.link-main-menu:hover {
    color: #666;
}

.header {
    background-color: #000000;
}

.main-menu a {
    text-decoration: none;
}

.h1{
    font-size: 56px;
    font-weight: 800;
    color: #ffffff;
}

.first-screen {
    font-size: 20px;
    color: #b7b7b7;
}

.first-screen-section {
    background-color: #0f0f0f;
}

.link {
    text-decoration: none;
}

.footer-menu {
    color: #546285;
    list-style: none;
    padding-left: 0;
}

.header-text {
    color: #FFFFFF;
}

.edge {
    background-image: url(../img/map2.png);
    background-color: black;
    background-position: right top;
}

.edge h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 1em;
    font-size: 38px;
}

.edge span {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.edge p {
    color: #a3a3a3;
    font-weight: 400;
    font-size: 18px;
}

.edge i {
    font-size: 12px;
    font-style: normal;
    color: #5e5e5e;
}

.up {
    text-transform: uppercase;
}

.ready-to-try {
    background-color: #fff;
    background-image: url(../img/Desktop-HD-Copy-3-1.jpeg);
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
    width: 1080px;
    display: block;
}

.ready-to-try-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-to-try h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 45px;
    line-height: 1.3em;
    text-align: center;
}

.ready-to-try p {
    color: #ffffff;
    line-height: 1.8em;
    text-align: center;
    font-size: 25px;
}

.ready-to-try a {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #000000;
    text-decoration: none;
    text-align: center;
    width: 195px;
    height: 58px;
    padding: 15px 37px;
    display: flex;
}

.ready-to-try span a {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: 195px;
    height: 58px;
    padding: 15px 37px;
}

.but-1 {
    font-weight: 400;
    border-radius: 6px;
    border-color: rgba(0,0,0,0);
    border-width: 0px;
    background-color: #007aff;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 246px;
    height: 54px;
    padding-top: 13px;
    padding-bottom: 13px; 
}

.but-main-menu {
    font-weight: 400;
    border-radius: 6px;
    border-color: rgba(0,0,0,0);
    border-width: 0px;
    background-color: #007aff;
    color: white;
    font-size: 16px;
    display: block;
    text-align: center;
    width: 95px;
    height: 44px;
    padding-top: 13px;
    padding-bottom: 13px; 
}

.benefits-h2 {
    font-weight: 400;
    text-align: center;
    color: #000000;
    line-height: 1em;
    font-size: 38px;
}

.benefits1 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.benefits1box {
    margin: 0 260px 0 260px;
}

.benefits-box {
        width: 300px;
}

.banefits-img1 {
    background-image: url(../img/benefits-1.png);
    background-size: contain;
    width: 180px;
    height: 167px;
}

.banefits-img2 {
    background-image: url(../img/benefits-2.png);
    background-size: contain;
    width: 180px;
    height: 167px;
}

.banefits-img3 {
    background-image: url(../img/benefits-3.png);
    background-size: contain;
    width: 180px;
    height: 167px;
}

.suite-of-tools {
    font-weight: 400;
    font-size: 18px;
}

.suite-of-tools-color {
    font-weight: 400;
    font-size: 18px;
    color: #666;
}


.benefits2 {
    color: #000000;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.blue {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    background-color: #007aff;
    /* max-width: 25%; */
    border-radius: 4px;
}

.blue-storage {
    margin-top: 0;
    display: inline;
    padding: 4px 22px;
}

.blue-tools {
    margin-top: 0;
    display: inline;
    padding: 4px 22px;
}

.blue-IPFS {
    margin-top: 0;
    display: inline;
    padding: 2px 22px;
    margin: 0 586px;
}

.but-2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    border-color: rgba(0,0,0,0)
    border-width: 0px;
    text-align: center;
    padding: 18px 40px;
}

.dep {
    list-style: none;
    color: #000000;
    font-size: 22px;
}

.none {
    display: none;
}

.sup {
    font-size: 20px;
    color: #000000;
    font-weight: 100;
    text-align: center;
}

.sup-a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid transparent;
    width: 130px;
    height: 31px;
    display: flex;
}

.sup-a:hover {
    background-color: rgb(238,238,238);
    border-radius: 6px;
    border: 1px solid rgb(238,238,238);
}

.sup-b {
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: white;
    /* display: block; */
    text-align: center;
    width: 130px;
    height: 31px;
}

.sup-b:hover {
    background-color: rgb(238,238,238);
    border-radius: 6px;
    border: 2px solid rgb(238,238,238);
}

.footer-h4 {
    line-height: 1.4em;
    font-size: 18px;
    font-weight: 500;
    color: #c4c4c4;
    text-transform: uppercase;
    margin-top: 0;
}

.footer-item {
    text-decoration: none;
    line-height: 1.3em;
    color: #595959;
    font-size: 18px;
    cursor: pointer;
}

.footer-item:active {
    color: black;
}

.but-border {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 0.3em 1em;
    text-align: center;
    display: block;
    padding: 9px 20px;
    /* margin-bottom: 32px; */
}

.link-but-border {
    color: black;
    font-size: 20px;
}

.logo {
    width: 127px;
    height: 56px;
}

.storage1 {
    width: 320px;
    height: 306px;
    background-color: white;
    border-top: 8px solid #ED55EB;
    border-radius: 8px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.storage1img {
    margin-top: 30px;
}

.storage2 {
    width: 320px;
    height: 306px;
    background-color: white;
    margin-right: 60px;
    border-top-width: 8px;
    border-top: 8px solid #36FB9B;
    border-radius: 8px;
    border-width: 8px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storage3 {
    width: 320px;
    height: 306px;
    margin-right: 60px;
    background-color: white;
    border-top-width: 8px;
    border-top: 8px solid #FFEC06;
    border-radius: 8px;
    border-width: 8px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storage-box {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: 50px;
}

/* однаковим елементам потрібно задавати однаковий клас */

.review {
    font-size: 14px;
    line-height: 1.5;
}

.review-box {
    width: 320px;
    padding: 30px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 17%);
    border-radius: 6px;
}

.community {
    background-color: #f9f9f9;
}

.community-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 27px;
}

.review-1 {
    border-radius: 90%;
    flex-shrink: 0;
}

.review-4 {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    background-image: url(../img/review-4.jpeg);
    background-size: contain;
}

.review-5 {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    background-image: url(../img/review-5.jpeg);
    background-size: contain;
}

.review-6 {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    background-image: url(../img/review-6.jpeg);
    background-size: contain;
}

.full-suite-of-tools {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: flex-end;
}

.suite-of-tools-box {
    width: 432px;
    margin-left: 130px;
    margin-top: 51px;
}

.img-full-suite-of-tools {
    display: flex;
    padding-left: 78px;
}

.the-full-suite {
    background-image: url(../img/Group-2508.png);
    background-position: center;
    height: 100px;
    width: 82px;
    margin: 5px;
    /* border: 2px solid transparent; */

}

.li-picture {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 60px; 
}

/* .the-full-suite:hover {
    height: 120px;
    width: 102px;
    background-repeat: no-repeat;
    margin: 0 16px;
} */

.the-full-suite-2 {
    background-image: url(../img/Group-2511.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-1 {
    background-image: url(../img/Group-2504.png);
    background-position: center;
    height: 115px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-3 {
    background-image: url(../img/Group-2509.png);
    background-position: center;
    height: 100px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-4 {
    background-image: url(../img/Group-2512.png);
    background-position: center;
    height: 100px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-5 {
    background-image: url(../img/akash-1.png);
    background-position: center;
    height: 115px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-6 {
    background-image: url(../img/Group-2510.png);
    background-position: center;
    height: 100px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-7 {
    background-image: url(../img/Group-2514.png);
    background-position: center;
    height: 100px;
    width: 82px;
    margin: 5px;
}

.the-full-suite-8 {
    background-image: url(../img/fleek-network.png);
    background-position: center;
    height: 115px;
    width: 83px;
    margin: 5px;
}

.use-fleek-to-upload {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 100px;
    margin-bottom: 100px;
    justify-content: space-around; */
}

.use-fleek-to-upload-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.use-fleek-to-upload-img-shadow {
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 14%);
    margin-bottom: 26px;
}

.use-fleek-to-upload-text {
    margin-right: 22px;
}

.use-fleek-text {
    margin-right: 52px;
    margin-bottom: 36px;
}

.use-fleek-text-h2 {
    text-align: left;
    margin-top: 18px;
}

.deploy-to {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-for-deploy-to {
    display: flex;
    padding-left: 0;
    gap:70px;
}

.social {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.foo {
    display: flex;
    margin: 0 157px;
    padding: 50px 0;
}

.footer {
    width: 245px;
}

.logo-foo {
    margin-right: 156px;
}

.twitfoo {
    background-image: url(../img/Sicons-Basic-Round-Social-Twitter.32.png);
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 8px;
}

.tubefoo {
    background-image: url(../img/YouTube-32.png);
    width: 32px;
    height: 32px;
    display: block;
}

